# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment variables
.env

# Redis dump files (si usas localmente)
dump.rdb

# Logs
*.log

# VSCode settings
.vscode/

# Railway config
.railway/
