# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environment variables
.env

# Redis dump file (if used locally)
dump.rdb

# Virtual environment
venv/
env/

# Logs
*.log

# MacOS files
.DS_Store

# PyCharm project files
.idea/

# VSCode settings
.vscode/
