{
  "ultima_publicacion_dict": {},
  "amonestaciones": {},
  "baneos_temporales": {},
  "permisos_inactividad": {},
  "ticket_counter": 0,
  "active_conversations": {},
  "faq_data": {},
  "faltas_dict": {},
  "mensajes_recientes": {}
}
